---
import '@/styles/globals.css';
import Head from '@/components/layout/head/index.astro';
import Header from '@/components/layout/header/index.astro';
import Footer from '@/components/layout/footer/index.astro';
import { cn } from '@/lib/utils';

const { cover, title, description, tags, author } = Astro.props;
const lang = Astro.currentLocale;
---
<!DOCTYPE html>
<html lang={lang}>
<Head title={title} description={description} tags={tags} author={author} />
<body class={cn(
  "flex flex-col min-h-screen w-full antialiased",
  (lang === 'ja' && 'font-sansJP'),
  (lang === 'zh' && 'font-sansSC')
)}>
  <Header cover={cover} />
  <main class="container flex-1 my-5">
    <slot />
  </main>
  <Footer />
</body>
</html>